
.container{
gap: 5rem;
}


.card{
    border: black solid 1px;
    min-width: 50px;
    min-height: 50px;
}

form{
    display: flex;
    flex-direction: column;

   }

dialog{
    width: 400px;
}

.close{
    display: block;

}

